<router-outlet></router-outlet>

<div class="container" >
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
      <div class="card" style="width: calc( 100% - 20px); max-width: 15rem; margin: auto; margin-top: 10px; margin-bottom: 10px;">
        <img src="https://udemy-images.udemy.com/course/240x135/1651388_9e74_4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Master Flutter & Dart: De cero a experto </h5>
          <p class="card-text"> Rodrigo Morales, Ingeniero de Software</p>
          <p class="card-text"> 82 % completo</p>
        </div>
      </div>
    </div>
  </div>
</div>
